@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=DM+Serif+Text:ital@0;1&family=Marhey:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #001F3F;
}

.logo img {
    width: 200px;
    height: 200px;
    margin-left: 42%;
    margin-top: 5%;
}

.menu {
    display: block;
    margin-left: 42%;
    color: white;
    font-family: "Poppins", serif;
}

.menu p {
    margin-left: 18px;
    color: red;
    font-weight: 700;
}

.descriçao {
    color: whitesmoke;
    width: 600px;
    height: 100px;
    font-size: 20px;
    margin-left: 32%;
    margin-top: 40px;
    font-family: "Montserrat", serif;
    font-weight: 500;
}

.button {
    display: block;
    margin-left: 28%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 280px;
    padding-right: 300px;
    background-color: #001F3F;
    border: solid white;
    border-radius: 15px;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: whitesmoke;
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 15px;
}